*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

/*     --colorFondo:#040404;
    --texto:#FFFFFF;
    
    --fondoPrimermain:#808080;
    --form:#928989; */
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    background-color: grey;
    justify-content: space-between;
    height: 4rem;
    position: relative;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.logoP {    
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
}

/* MENU BURGER */


.topnav {
    overflow: hidden;
    display:flex;
  }
  
#label_boton {display:none;}
      
.ham {position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 0.8rem;
}
  
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #0000ff;
    border-radius: 0.8rem;
    margin: 0.5rem;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  
/*   .topnav a.active {
    background-color: #529eef;
    color: white;
  } */
  
  .topnav .icon {
    display: none;
  }

  #i {color: white;
    background-color: #f2f2f2;
    font-size: 1rem;
    background-color: #0000ff;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    display:none;}
  
  #boton_ham {
  
  display: none; 

}
  
  
  


/* CSS JHON */


/* CSS ANDRES */

/* Eigen Code. Quienes somos */

.imgquienessomos {
    height: 60rem;
    width: 55rem;
}

.quienessomos {
display: flex;
background-color: #665e5e;
text-align: left;
font-size: 20px;
align-items: center;

}

.txtquienessomos {
margin-left: 100px;
margin-right: 100px;
background-color: #665e5e;


}

.h1quienessomos {
background-color:#665e5e

}



/* Eigen code. Misión */


.mision {
display: flex;
}


.h1mision {
display: flex;
align-items: center;
height: 20rem;
width: 50rem;
justify-content: center;

}

.txtmision p {
height: 20rem;
width: 65rem;
justify-content: left;

}

.txtmision {
justify-content: left;
align-items: center;
}

/* Eigen code Vision */

.vision {
display: flex;
flex-direction: row-reverse;
}

.h1vision {
display: flex;
align-items: center;
height: 20rem;
width: 50rem;
justify-content: center;

}

.txtvision p {
height: 20rem;
width: 65rem;
justify-content: left;

}

.txtvision {
justify-content: left;
align-items: center;
}


/* Egen code Valores */

.valores {
display: flex;
flex-direction: row;
}

.h1valores {
display: flex;
align-items: center;
justify-content: center;
height: 20rem;
width: 50rem;

}

.txtvalores p {
height: 20rem;
width: 65rem;
justify-content: left;

}

.txtvalores {
justify-content: left;
align-items: center;
}

/* Eigen code Nuestro Equipo */

.h1nuestroequipo {
display: flex;
justify-content: center;
}

.imgequipo {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

.imgequipo img {
height: 20rem;
width: 20rem;
object-fit: cover;


}

.nuestroequipo {
display: flex;
justify-content: center;
align-items: center;

}



/* CSS RAYAN */


/* CSS AINTZANE */

/* TITULOS y letras*/

.h1Aintzane {
    font-size: 4rem;
    color: white;
    margin: 1rem;
}

.h4Aintzane {
    font-size: 2rem;
    color: white;
}

p {
    font-size: 1rem;
    color: #090909;
}

.h3Aintzane {
    font-size: 1rem;
    color: #090909;
}


/* BLOG */

.ABlog {
    background-color: #211C1C;
}

.tituloB {
display: flex;
justify-content: center;
}
.entradasBlog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 1rem;
}

.tituloB {
    display: flex;
    align-items: center;
    text-align: center;
}

.cajaBlogE {
    width: 42%;
    height: auto;
/*     display: block; */
    justify-content: center;
}

.parrafitoB {
    background-color: #D9D9D9;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.buttonB {
    background-color: #D9D9D9;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1rem;
    border-radius: 0.8rem;
}

button {
    margin: 2rem;
}

.contenedorMB {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cajaBlogEM {
    margin: 1rem;
    max-width: 12.5rem;
    background-color: #877E7E;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.8rem;
}

.imagenBE {
/*     max-width: 25rem; */
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.imagenBEM {
    width: 12rem;
    height: auto;
    border-radius: 0.8rem;
}

/* ENTRADAS DEL BLOG */

.entradaB {
    background-color: #877E7E;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.8rem;
    text-align: left;
}

.imagenBEPost {
    width: 80%;
    height: auto;
    border-radius: 0.8rem;
    margin: 1rem;

}

.imagenBEPostF {
    width: 80%;
    height: auto;
    border-radius: 0.8rem;
    margin: 1rem;
    max-width: 30rem;
}

.imagenB {
    display: flex;
    justify-content: center;
    width: auto;
}

.imagenBb {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 50rem;

}

.lista {
    margin-left: 2rem;
}

.BArco li {
    list-style-type: circle;
    margin-left: 1rem;
}

.destacado {
text-align: left;
margin-left: 2rem;
margin-top: 1rem;
}

/* FOOTER */

.footerCajas{
    background-color: #A3A2A2;
    display: flex;
    justify-content: space-around;
    padding: 2rem;

}

.footerDiv{
    height: 5rem;
    background-color: #6B6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #211C1C;
}

.footerCajas li {
    font-size: small;
}

footer .footerLinksG .footerCajas div li i{
    
    letter-spacing: 0.5rem;
}

.ul{
    list-style: none;
}

ul {
    list-style-type: none;
}

.RRSS{
width: 1rem;
height: auto;
}

@media only screen and (max-width: 844px) {

.tarifasM {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }

/* MENU BURGER RESPONSIVE */

@media screen and (max-width: 780px) {
    .topnav a {display: none;}

    #boton_ham:checked ~ #myTopnav {display: block;
    										   text-align: left;
  }
  #i {display: block;}
  /**/
  .topnav { 
  
    flex-direction: column; 
  }
  #home {margin-right: auto;
    }
  
}
.topnav a {

  text-align: center; }

#label_boton { position: absolute;
                top: 0;
                 right: 0;
                 z-index:100;
                 display:block;

               }
        
               /* Esto ya no funciona, porque ya no son siblings*/
/*                #boton_ham:checked ~ .icon { background-color: #33bb55;   } */

.topnav.responsive {position: relative;}

#boton_ham:checked ~ #myTopnav a {display: block;
                                  text-align: center;
}
                
.topnav.responsive a {
             
    display: block;
    justify-content: left;
}
              

#myTopnav {
    position: absolute;
    top: 0rem;
    right: 3.7rem;
}

.topnav a {
    margin: 0.5rem;
}

