header nav ul   { background-color: gray;
                 display: flex;
                justify-content: space-around; 
                align-items: center;
                height: 4em;}
a { color: white; 
             font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;}  
 
 .imgkel {height:30rem ;
    width:100%;} 
   div.individual { 
        
                 display: flex;
                }
    .icon1{ 
            height:5rem;
            width: 5rem;
    }
 
                
                    
 
  .section1 {
                  display: flex;
                  align-items: center; 
                  justify-content: space-between;
                  width: 15rem;
                  
              
            
           
        }
 article .aaa { border: 1rem solid grey;
        width: 40rem;
       display: flex;
       justify-content: space-between;
        padding-left: 5rem; 
        background-color: rgb(31, 29, 29);
        height:6rem;

}
.aaa{
        margin-bottom: 2rem;
}

     article button { 
                   width: 10rem;
                  display: flex;
                    align-items: center; 
                 justify-content: center;
                 background-color: blue;
                color: white;
                margin: 1rem;
               }             
                
    .para1 {text-align: center;
           } 
 .main1 { 
        display: flex;
        justify-content: space-between;
       
       
       
       
        }  
        .p1 { font-size:larger;
            color:rgb(173, 160, 160);
        }
        .p2 { color: white;
        }
         .p3 { font-size:larger;
                color:rgb(173, 160, 160);} 
        .p4 { color: white;}
        .p5{font-size:larger;
                color:rgb(173, 160, 160); } 
        .p6 {color: white; }
.tari{ background-color: rgb(29, 28, 28);} 

.title2{ color: rgb(109, 105, 105);}
