*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

/*     --colorFondo:#040404;
    --texto:#FFFFFF;
    
    --fondoPrimermain:#808080;
    --form:#928989; */
    --colorFondo: #3b3a3a;
    --fondoPrimermain: #625E5E;
    --form: #928989;
    --header: #575656;
    --fondoimagen: #877E7E;
}
body {
    background-color: var(--colorFondo);
}
/* HEADER */
header {

    display: flex;
    align-items: center;
    background-color: grey;
    justify-content: space-between;
    height: 4rem;

    z-index: 1;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.logoP {    
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
}

/* MENU BURGER */


.topnav {
    overflow: hidden;
    display:flex;
  }
  
#label_boton {display:none;}
      
.ham {position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 0.8rem;
}
  
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #0000ff;
    border-radius: 0.8rem;
    margin: 0.5rem;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  
/*   .topnav a.active {
    background-color: #529eef;
    color: white;
  } */
  
  .topnav .icon {
    display: none;
  }

  #i {color: white;
    background-color: #f2f2f2;
    font-size: 1rem;
    background-color: #0000ff;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    display:none;}
  
  #boton_ham {
  
  display: none; 

}
/* KELTHUM */

div.individual {

   

    display: flex;
 }
 
 .iconindividual {
    height: 5rem;
    width: 5rem;
 }
 
 .caja1 {
    margin: 1rem;
 }
 
 .caja2 {
    margin: 1rem;
 }
 
 .tarifasM {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 
 .titulosS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem; 
 }
 
 article .aaa {
    border: 1rem solid grey;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    background-color: rgb(31, 29, 29);
    height: 6rem;
 }
 
 .aaa {
    margin-bottom: 2rem;
 }
 
 .buttonK {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 0.8rem;
    color: white;
    margin: 1rem;
 }
 
 .para1 {
    text-align: center;
 }
 
 main {
    display: flex;
    justify-content: space-between;
 
 }
 
 .p1 {
    font-size: larger;
    color: rgb(173, 160, 160);
 }
 
 .p2 {
    color: white;
 }
 
 .p3 {
    font-size: larger;
    color: rgb(173, 160, 160);
 }
 
 .p4 {
    color: white;
 }
 
 .p5 {
    font-size: larger;
    color: rgb(173, 160, 160);
 }
 
 .p6 {
    color: white;
 }
 
 .bodyK {
    background-color: rgb(29, 28, 28);
 }
 
 .title2 {
    color: rgb(109, 105, 105);
 }
 
 .divImgK {
    display: flex;
    justify-content: center;
 }
 
 .imgK {
    width: 50%;
 }

/* CSS JHON */


/*/////////////////////////////////// PRIMER MAIN /////////////////////////////////*/
.primermain {
    margin-top: 5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--fondoPrimermain);

    border-radius: 2rem;
}

.logeo {
    background-color: var(--form);
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 28rem;
    border-radius: 2rem;
}

.titulolog {
    text-align: center;
    font-size: xx-large;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulologdos,
.titulologtres,
.titulologcuat {
    font-size: 2rem;
    letter-spacing: 1.5rem;

}

.titulologdos {
    margin-left: 2rem;
    text-align: left;
}

.titulologtres {
    text-align: center;
}

.titulologcuat {
    text-align: end;

}

.primermain article div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.primermain article div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.primermain article div form label {
    font-size: 1.5rem;
}

.primermain article div form input {
    width: 10rem;
    height: 1.7rem;
    border-radius: 0.5rem;
}

.primermain article div form button {
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgb(76, 76, 146);
    font-size: 1.3rem;
    margin-top: 2.5rem;
}

.linkredes {
    font-size: 2rem;
    gap: 2rem;
}

.textoform {

    text-align: center;
}

.textoform a {
    text-decoration: none;
    color: rgb(18, 35, 145);
}

.linkredes iconify-icon {
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

aside {
    background-color: var(--form);
    display: flex;
    flex-direction: column;
}


aside {
    width: 48%;
    height: 28rem;
    border-radius: 1.5rem;
}

.logoJ {

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capalogo {
    width: auto;
    height: 45%;
    border-radius: 100%;
    padding: 2rem;
    background-color: rgb(184, 173, 159);
    margin-bottom: 2rem;
}

aside svg {
    width: 100%;
    height: 100%;
}

.parrafologo {
    font-size: 1.3rem;
    text-align: center;
}

/* /////////////////////////////SEUNGO MAIN ////////////////////////////////////////*/
.segundomain {
    background-color: var(--fondoPrimermain);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    padding-bottom: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes {
    display: flex;
    justify-content: space-around;
}

.tituloactividades {
    font-size: 3.5rem;
    text-align: center;
    margin: 1.5rem;
}


.imagenes img {
    padding: 0.8rem;
    border-radius: 0.7rem;
    background-color: var(--fondoimagen);
    width: 15%;
    height: auto;
}


/* ////////////////////////////////MAIN REGISTRO///////////////////// */
.tituloreg{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.linkreg{

    font-size: 2.5rem;
    letter-spacing: 2.5rem;
    text-decoration: none;
    color: white;
}

.Registro {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;  
}

.Registro .registroDiv {
    padding: 2rem;
    background-color: #6C6767;
    width: 85%;
    display: flex;
    justify-content: space-around;
    border-radius: 3rem;
}

.Registro form {
    width: 40%;
    padding: 2rem;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.3rem;
}

.Registro form label {
    font-size: 1.5rem;
}

.Registro form input {
    height: 1.5rem;
    width: 80%;
}

.capaicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capaicon img {
   width: 70%; 
}

.Registro .registroDiv form button {
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgb(76, 76, 146);
    font-size: 1.3rem;
    margin-top: 2.5rem;
}
.Registro .registroDiv form .boton{
    display: flex;
    justify-content: center;
}

/* CSS ANDRES */


/* CSS RAYAN */

.buttonRR {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000ff;
    border-radius: 0.8rem;
    color: white;
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
 }

.bodyR {
    background-color: rgb(29, 28, 28);
 }
 
.sectionR {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.pictur {


    background-color: rgb(80, 80, 80);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    height: auto;
    border: 0.5rem solid gray;
    border-radius: 0.8rem;

}

.imgR {
    background-color: rgb(80, 80, 80);
    padding: 1rem;
    justify-content: space-between;
    justify-content: center;
    width: 18%;
    height: auto;
    border: 0.5rem solid gray;
    border-radius: 5%;

}

.images {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

form {
    display: block;
    flex-direction: column;
    padding: 2rem;
}


input {
    padding: 0.5rem;
}

.post {
    display: block;
    flex-direction: column;

}

.mainR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Rayan {
    display: flex;
    justify-content: center;
}
.mainh {

    background: url(img/blog/portrait-fantasy-female-ranger-archer-600nw-2022197132.webp);
    background-size: cover;
    background-position: center;
    border: 0.1rem solid rgb(85, 37, 37);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.mainh h2 {


    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    padding: 5rem;
}

.parrafo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    padding: 2rem;

}
.CC {
    margin: 2rem;

}

.pb {
    color: white;
}

.contactts {
    display: flex;
    flex-wrap: wrap;
}

.h2rn {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    display: inline-block;
}

.prn {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);  
}

.st {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 1%;
    color: aliceblue;

}

.wrap {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/blog/12-6-13-ls0544-odyssey.jpg.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.wrap-texto {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 50%;
    font-size: 3rem;
    background-color: rgb(75, 75, 75);
    opacity: 0.5;
}

input {
    
    opacity: 0.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 0rem solid black;
    border-bottom: 0.1rem solid black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0.5rem;
}

.rn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* CSS AINTZANE */

/* TITULOS y letras*/

.h1Aintzane {
    font-size: 4rem;
    color: white;
    margin: 1rem;
}

.h4Aintzane {
    font-size: 2rem;
    color: white;
}

p {
    font-size: 1rem;
    color: #090909;
}

.h3Aintzane {
    font-size: 1rem;
    color: #090909;
}


/* BLOG */

.ABlog {
    background-color: #211C1C;
}

.tituloB {
display: flex;
justify-content: center;
}
.entradasBlog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 1rem;
}

.tituloB {
    display: flex;
    align-items: center;
    text-align: center;
}

.cajaBlogE {
    width: 42%;
    height: auto;
/*     display: block; */
    justify-content: center;
}

.parrafitoB {
    background-color: #D9D9D9;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.buttonB {
    background-color: #D9D9D9;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1rem;
    border-radius: 0.8rem;
}

.buttonB {
    margin: 2rem;
}

.contenedorMB {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cajaBlogEM {
    margin: 1rem;
    max-width: 12.5rem;
    background-color: #877E7E;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.8rem;
}

.imagenBE {
/*     max-width: 25rem; */
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.imagenBEM {
    width: 12rem;
    height: auto;
    border-radius: 0.8rem;
}

/* ENTRADAS DEL BLOG */

.entradaB {
    background-color: #877E7E;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.8rem;
    text-align: left;
}

.imagenBEPost {
    width: 80%;
    height: auto;
    border-radius: 0.8rem;
    margin: 1rem;

}

.imagenBEPostF {
    width: 80%;
    height: auto;
    border-radius: 0.8rem;
    margin: 1rem;
    max-width: 30rem;
}

.imagenB {
    display: flex;
    justify-content: center;
    width: auto;
}

.imagenBb {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 50rem;

}

.lista {
    margin-left: 2rem;
}

.BArco li {
    list-style-type: circle;
    margin-left: 1rem;
}

.destacado {
text-align: left;
margin-left: 2rem;
margin-top: 1rem;
}

/* FOOTER */

.footerCajas{
    background-color: #A3A2A2;
    display: flex;
    justify-content: space-around;
    padding: 2rem;

}

.footerDiv{
    height: 5rem;
    background-color: #6B6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #211C1C;
}

.footerCajas li {
    font-size: small;
}

footer .footerLinksG .footerCajas div li i{
    
    letter-spacing: 0.5rem;
}

.ul{
    list-style: none;
}

ul {
    list-style-type: none;
}

.RRSS{
width: 1rem;
height: auto;
}

@media only screen and (max-width: 844px) {

.tarifasM {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }

@media screen and (max-width: 843px) {

.pictur {
    width: 50%;
    height: 50%;
}

.wrap-texto {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 50%;
    font-size: 2rem;
    background-color: rgb(75, 75, 75);
    opacity: 0.5;
}
        
.mainh {
    width: 100%;
}

/* MENU BURGER RESPONSIVE */

@media screen and (max-width: 780px) {
    .topnav a {display: none;}

    #boton_ham:checked ~ #myTopnav {display: block;
    										   text-align: left;
  }
  #i {display: block;}
  /**/
  .topnav { 
  
    flex-direction: column; 
  }
  #home {margin-right: auto;
    }
  
}
.topnav a {

  text-align: center; }

#label_boton { position: absolute;
                top: 0;
                 right: 0;
                 z-index:100;
                 display:block;

               }
        
               /* Esto ya no funciona, porque ya no son siblings*/
/*                #boton_ham:checked ~ .icon { background-color: #33bb55;   } */

.topnav.responsive {position: relative;}

#boton_ham:checked ~ #myTopnav a {display: block;
                                  text-align: center;
}
                
.topnav.responsive a {
             
    display: block;
    justify-content: left;
}
              

#myTopnav {
    position: absolute;
    top: 0rem;
    right: 3.7rem;
}

.topnav a {
    margin: 0.5rem;
}

@media screen and (max-width: 650px) {

.entradasBlog {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 1rem;
}

.cajaBlogE {
    width: 100%;
    height: auto;
/*     display: block; */
    justify-content: center;
}
}

@media screen and (max-width: 393px) {

    .pictur {
        width: 30%;
        height: auto;
    }



}